body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #e7edfa;
  color: #222;
}
.form {
  width: 90vw;
  max-width: 600px;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.5;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: #f0f2f7;
  border: 1px solid #222;
  color: #222;
}
.form-input,
.form-select,
.form-btn {
  height: 35px;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
.btn-1 {
  margin-top: 1rem;
  background-color: #08f;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: #fff;
}

a {
  color: #08f;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.carroSVG{
  width: 350px;
}
